name: Reusable workflow

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      firstword:
        description: "The first output string"
        value: ${{ jobs.example_job.outputs.output1 }}
      secondword:
        description: "The second output string"
        value: ${{ jobs.example_job.outputs.output2 }}

jobs:
  example_job:
    name: Generate output
    runs-on: windows-latest
    
    # Map the job outputs to step outputs
    outputs:
      output1: ${{ steps.step1.outputs.firstword }}
      output2: ${{ steps.step2.outputs.secondword }}
    steps:
      - id: step1
        shell: pwsh
        run: |
          echo "Setting outputs..."
          echo "firstword=hello" >> $Env:GITHUB_OUTPUT
          echo "secondword=world" >> $Env:GITHUB_OUTPUT
      - name: Display
        shell: pwsh
        run: echo "test ${{ steps.step2.outputs.secondword }}"
      
