

# test1/.github/workflows/vars.yml
name: Variables Template

on:
  workflow_call: {}

jobs:
  calc:
    runs-on: windows-latest
    outputs:
      COMPANY_NAME: ${{ steps.setvars.outputs.COMPANY_NAME }}
      CURRENT_YEAR: ${{ steps.setvars.outputs.CURRENT_YEAR }}
    steps:
      - id: setvars
        run: |
          echo "COMPANY_NAME=My Company"
          echo "CURRENT_YEAR=$(date +'%Y')"
          echo "COMPANY_NAME=My Company" >> $GITHUB_OUTPUT
          echo "CURRENT_YEAR=$(date +'%Y')" >> $GITHUB_OUTPUT
      - name: Display outputs
        run: |
          echo "Company: ${{ steps.setvars.outputs.COMPANY_NAME }}"
          echo "Year: ${{ steps.setvars.outputs.CURRENT_YEAR }}"


